<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.spring.usMarket.domain.product.ProductCategoryDto"
		 alias="productCategoryDto"/>
		 
		<typeAlias type="com.spring.usMarket.domain.product.ProductFileDto"
		 alias="productFileDto"/>
		 
		<typeAlias type="com.spring.usMarket.domain.product.ProductInsertDto"
		 alias="productInsertDto"/>
		 
		<typeAlias type="com.spring.usMarket.domain.product.ProductDto"
		 alias="productDto"/>
		 
		<typeAlias type="com.spring.usMarket.domain.deal.DealInsertDto"
		 alias="dealInsertDto"/>
		 
		<typeAlias type="com.spring.usMarket.utils.SearchCondition"
		 alias="searchCondition"/>
		 
		<typeAlias type="com.spring.usMarket.domain.chat.ChatRoomDto"
		 alias="chatRoomDto"/>
		 
		<typeAlias type="com.spring.usMarket.domain.chat.ChatDto"
		 alias="chatDto"/>
		 	
		<typeAlias type="com.spring.usMarket.domain.member.MemberDto"
		 alias="memberDto"/>
		 
		<typeAlias type="com.spring.usMarket.domain.report.ReportInsertDto"
		 alias="reportInsertDto"/>
		 
		<typeAlias type="com.spring.usMarket.domain.admin.AdminDto"
		 alias="adminDto"/>
	</typeAliases>
	
</configuration>