@charset "UTF-8";

.member-info-container{
	padding: 70px 15px 100px 15px;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;	
}

.member-info-container > .title{
	width: calc(100% - 50px);
	margin-bottom: 20px;
}

.member-info-container > .title > span{
	font-size: 30px;
	font-weight: 600;
}

.member-info-container > .dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: calc(100% - 50px);
	width: 100%;
}

.member-info-container > .dashboard > div{
	width: calc(100% - 50px);
	min-width: 600px;
	max-width: 810px;
	background-color: #FFFFFF;
	margin-bottom: 30px;
	padding: 30px;
	border-radius: .375rem;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
}

.dashboard-1{
	display: flex;
	justify-content: center;
}

.member-info-1{
	display: flex;
	align-items: center;
	width: 40%;
	padding: 20px;
}

.member-info-1 > img{
	aspect-ratio: 1 / 1;
	object-fit: contain;
	border-radius: 100%;
}

.member-info-2{
	width: 60%;
	padding: 10px 20px 10px 30px;
	font-size: 13px;
}

.member-info-2 > div:not(div:last-child){
	margin-bottom: 15px;	
}

.member-info-2 .title{
	font-weight: 600;
	color: #5D6FFB;
}

.member-info-2 .info{
	color: #1C1C1C;
}

.product-area{
	margin-top: 20px;
	margin-bottom: 30px;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.sub-title{
	width: 100%;
	padding-left: 10px;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 10px;
}


.product-area .box{
	width: 130px;
	border: 1px solid #eeeeee;
	margin: 10px;
}

.img-top{
	position: absolute;
}

.product-area > .box > .img{
	background-color: #FFFFFF;
}

.product-area > .box > .img img{
	width: 130px;
	height: 140px;
	object-fit: cover;
}

.product-area > .box a{
	color: #1c1c1c;
}

.product-area .info-1{
	background-color: #ffffff;
	border-top: 1px solid #eeeeee;
	padding: 5px;
	display: flex;
	flex-direction: column;
	font-size: 12px;
	min-height: 70px;
	justify-content: space-evenly;
}

.info-1 > .info-title{
	font-weight: 500;
}

.info-1 > .info-price{
	font-weight: 600;	
}

.info-1 > .info-price span::after{
	content: "ì›";
	font-size: 12px;
	margin-left: 1px;
}

.info-1 > .info-regdate{
	font-size: 11px;
	color: #888888;
}

.product-empty{
	display: flex;
	justify-content: center;
	width: 100%;
	color: #AFAFAF;
	font-size: 18px;
	font-weight: 600;
}