@charset "UTF-8";

.member-list-container{
	padding: 70px 15px 100px 15px;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;	
}

.member-list-container > .title{
	width: calc(100% - 50px);
	margin-bottom: 20px;
}

.member-list-container > .title > span{
	font-size: 30px;
	font-weight: 600;
}

.member-list-container > .dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: calc(100% - 50px);
}

.member-list-container > .dashboard > div{
	width: calc(100% - 50px);
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	padding: 30px;
	border-radius: .375rem;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
}

.member-list-container > .dashboard canvas{
	width: 100%;
}

input[type='date']{
	font-size: 15px;
	color: #707070;
	padding: 4px 5px 0px 5px;
	border: none;
	border-radius: .375rem;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
	cursor: pointer;
}

.options-container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.date-picker{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	margin-right: 20px;
}

.date-picker > #startDate{
	margin-right: 15px;
}

.date-picker > #endDate{
	margin-right: 20px;
}

.date-picker > .date-btn{
	margin-left: 5px;
	margin-right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 13px;
	height: 30px;
	width: 50px;
	cursor: pointer;
	border-radius: .375rem;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
}

.date-picker > .date-btn:hover{
	background-color: #f5f9ff;
	color: #7988FD;
}

.date-picker > label{
	margin: 0px 8px 0px 0px;
	color: #1C1C1C;
	font-size: 14px;
}

.order-condition{
	margin-bottom: 10px;
}

.member-list{
	border-radius: .375rem;
	box-shadow: 0 3px 14px 0 rgba(67,89,113,.12);
	margin-top: 50px
}

.member-list > span{
	display: flex;
	width: 100%;
	height: 300px;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	color: #A8A8A8;
	font-weight: 600;
}

.member-list > table{
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.member-list > table th{
	height: 50px;
	font-size: 14px;
	color: #525252;
	font-weight: 550;
}

.member-list thead th:first-child, .member-list thead th:nth-child(2){
	width: 20%
}

.member-list thead th:nth-child(3), .member-list thead th:nth-child(3){
	width: 15%
}

.member-list thead th:last-child{
	width: 30%;
}


.member-list > table tr{
	height: 40px;
	font-size: 13px;
}

.member-list > table .body{
	cursor: pointer;
}

.member-list > table .body:hover{
	background-color: #f5f9ff;
	color: #7988FD;
}

.member-list > .paging{
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

.member-list > .paging > div{
	display: flex;
	min-width: 30px;
	height: 30px;
	justify-content: center;
	align-items: center;
	font-size: 13px;
	border-radius: 100%;;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
	margin: 5px;
	font-weight: 600;
}

.not-current-page{
	cursor: pointer;
}

.order-dropdown, .condition-dropdown {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 13px;
	height: 30px;
	min-width: 50px;
	cursor: pointer;
	border-radius: .375rem;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
  	position: relative;
  	display: inline-block;
}

.order-dropdown > span, .condition-dropdown > span{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding-right: 10px;
	padding-left: 10px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #FFFFFF;
	height: 150px;
	border-bottom-left-radius: .375rem;
	border-bottom-right-radius: .375rem;
	border-top-right-radius: .375rem;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.order-dropdown > .dropdown-content{
	min-width: 130px;
}

.condition-dropdown > .dropdown-content{
	min-width: 80px;
}

.dropdown-content ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	justify-content: space-evenly;
}

.dropdown-content ul > li{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.dropdown-content ul > li:hover{
	background-color: #F9F9FA;
}

.order-selected, .condition-selected{
	background-color: #f5f9ff;
	color: #7988FD;	
}

.order-dropdown:hover .dropdown-content,  .condition-dropdown:hover .dropdown-content{
	display: block;
}

.current-page{
	color: #7988FD;
}