@charset "UTF-8";

.notice-new-container{
	padding: 70px 15px 70px 15px;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 700px;
	align-items: center;	
}

.notice-new-container > .title{
	min-width: 650px;
	width: calc(100% - 50%);
	margin-bottom: 20px;
}

.notice-new-container > .title > span{
	font-size: 30px;
	font-weight: 600;
}

.notice-new-container > .dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 650px;
	width: calc(100% - 50%);
}

.notice-new-container > .dashboard > div{
	width: 100%;	
	background-color: #FFFFFF;
	margin-bottom: 30px;
	padding: 30px;
	border-radius: .375rem;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
}

.notice-new-container > .dashboard > div > .input{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.notice-new-container > .dashboard > div > .input:not(.input:last-child){
	margin-bottom: 20px;
}

.input-title{
	width: 15%;
	padding-left: 10px;
}

.input-title:after{
	content: "*";
	color: red;
	font-size: 15px;
	margin-left: 3px;
}

.input-content{
	display: flex;
	width: 85%;
	border-radius: .375rem;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
	padding: 10px;
	border: 1px solid #FAFAFA;
}

.input-content > input, .input-content > textarea{
	border: none;
	box-shadow: none;
	width: 100%;
}

.input-content > textarea{
	overflow-y: hidden;
	resize: none;	
}

.input-content > select{
	border: none;
	height: 70%;
	padding: 1px;
}

.ta{
	display: flex;
	flex-direction: column;	
}

.ta > .current_count{
	width: 100%;
}

.current_count{
	display: flex;
	justify-content: flex-end;
	width: 10%;
}

.current_count > p{
	color: #8E8E8E;
}

.notice-btn{
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: 600;
	border-radius: 25px;
	justify-content: space-between;
	margin-top: 50px;
}

.notice-btn > div{
	width: 49%;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
	color: #7988FD;
	cursor: pointer;
	padding: 10px 30px 10px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 550;
	border-radius: .375rem;	
}

.notice-btn > div:hover{
	background-color: #F7F9FF;
}