@charset "UTF-8";

.qna-info-container{
	padding: 70px 15px 70px 15px;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 700px;
	align-items: center;	
}

.qna-info-container > .title{
	min-width: 650px;
	width: calc(100% - 50%);
	margin-bottom: 20px;
}

.qna-info-container > .title > span{
	font-size: 30px;
	font-weight: 600;
}

.qna-info-container > .dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 650px;
	width: calc(100% - 50%);
}

.qna-info-container > .dashboard > div{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: #FFFFFF;
	margin-bottom: 30px;
	padding: 30px;
	border-radius: .375rem;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
}

.qna-info-container > .dashboard > div:not(div:last-child){
	justify-content: space-between;	
}

.qna-info-container > .dashboard > div:last-child{
	flex-direction: column;
}

.qna-info-container > .dashboard > div:last-child .title{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 600;
}

.qna-info-container > .dashboard > div > .qna-history{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.qna-info-container > .dashboard > div > .qna-history > .info{
	flex-direction: row;
	width: 260px;
	box-shadow: none;
	padding: 0;
}

.qna-info-container > .dashboard > div > .qna-history > .info .info-info{
	margin: 0;
}

.sub-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.sub-title > div:first-child{
	font-size: 16px;
	font-weight: 600;
}

.sub-title > div:last-child{
	font-size: 11px;
	border: 1px solid #7988FD;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #7988FD;	
	padding: 3px;
}

.info{
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	width: 260px;
	margin-bottom: 10px;
}

.info:last-child{
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	border-radius: .375rem;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
}

.info:last-child > .info-info{
	text-align: left;
	margin-top: 8px;
	display: flex;
	flex-direction: column;
}

.info:last-child img{
	margin-bottom: 10px;
}

.info > .info-title{
	color: #878787;
	font-weight: 500;
	min-width: 35px;
	margin-right: 30px;
}

.info > .info-info{
	color: #1C1C1C;
	text-align: right;
	word-break: keep-all;
}

.info > .info-info > a{
	color: #1C1C1C;	
	display: flex;
	justify-content: space-between;
	align-items: center;
	word-break: break-all;
}

.info:not(.info:last-child) > .info-info > a:hover{
	color: #7988FD;
}

.info > .info-info > a > img{
	width: 14px;
	object-fit: contain;
	margin-left: 2px;
	padding-bottom: 1px;
}

.info > form{
	display: none;
}

.info:not(.info:last-child) > .info-info span{
	cursor: pointer;
}

.info > .info-info img{
	width: 14px;
	object-fit: contain;
	margin-left: 2px;
	padding-bottom: 1px;
}

.info > .info-info > .qna_img{
	width: 80%;
	object-fit: contain;
	margin: 0px 0px 20px 0px;
}

.info:not(.info:last-child) > .info-info > span:hover{
	color: #7988FD;
}

.qna-reply-input{
	border-radius: .375rem;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
	padding: 10px;
	height: 200px;
}

.qna-reply-input > textarea{
	color: #1C1C1C;
	resize: none;
	width: 100%;
	height: 85%;
	border: none;
}

.qna-reply-input > div{
	visibility: hidden;
	display: flex;
	justify-content: flex-end;
}

.qna-reply-input > div > p{	
	color: #878787;
}

.qna-submit{
	width: 100%;
	background-color: #FFFFFF;
	color: #7988FD;
	font-size: 16px;
	font-weight: 700;
	margin-top: 30px;
	border-radius: .375rem;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;
}

.qna-info-container > .dashboard > div > .qna-reply{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}