@charset "UTF-8";

/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: "NanumBarunGothic", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	background-color: #F4F7FB;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "NanumBarunGothic", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "NanumBarunGothic", sans-serif;
	color: #1C1C1C;
	font-weight: 400;
	line-height: 26px;
	margin: 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

li{
	list-style: none;
	list-style-type: none;
}


/*----------------------------------------*/
/* default layout
/*----------------------------------------*/


.root-layout{
	display: flex;
}

.main-layout{
	padding-left: 200px;
	padding-top: 40px;
	width: 100%;
}

.base-layout{
	padding-left: 30px;
	padding-right: 30px;
}

.row{
	min-width: 1280px;
}

.container{
	min-width: 1024px;
}

.border-b{
	border-bottom: 1px solid #ECECEC;	
}
.border-t{
	border-top: 1px solid #ECECEC;	
}
.border-r{
	border-right: 1px solid #ECECEC;	
}
.border-l{
	border-left: 1px solid #ECECEC;	
}
.border-a{
	border: 1px solid #ECECEC;	
}



/*----------------------------------------*/
/* header
/*----------------------------------------*/
.header-container{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	height: 40px;
	z-index: 1;
	width: 100%;
	padding-left: 200px;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	background-color: #FFFFFF;
}

.header-auth{
	display: flex;
	align-items: center;
	font-size: 14px;
}

.header-auth a{
	padding-left: 10px;
	color: #666666;
}

/*----------------------------------------*/
/* aside
/*----------------------------------------*/
.aside-container{
	position: fixed;
	z-index: 1;
	top: 0;
	bottom: 0;
	max-width: 200px;
	width: 200px;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
}

.aside-logo{
	padding-top: 25px;
	margin-left: 10px;
	margin-bottom: 40px;
}

.aside-ul{
	margin-right: 15px;
	margin-left: 15px;
	padding-bottom: 10px;
}

.aside-ul ul li{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 1px;
	height: 40px;
	border-radius: .375rem;
	display: flex;
	align-items: center;
}

.aside-ul .selected{
	background-color: #F0F3FF;
}

.aside-ul ul li:hover{
	background-color: #F9F9FA;
}

.aside-ul a{
	color: #697a8d;
	font-size: 15px;
	font-weight: 600;
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
}

.aside-ul img{ /* 아이콘 */
	position: absolute;
	height: 13px;
	object-fit: contain;
}

.aside-ul .selected a{
	color: #7988FD;
}

.aside-ul span{
	padding-top: 2px;
	margin-left: 25px;
}


/*----------------------------------------*/
/* main, body
/*----------------------------------------*/
.body-container{
	padding: 70px 15px 100px 15px;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.body-container > .body-title{
	width: calc(100% - 50px);
	margin-bottom: 20px;
}

.body-title > span{
	font-size: 30px;
	font-weight: 600;
}

.body-container > div > div{
	padding: 20px;
	margin: 10px 10px 30px 10px;
	background-color: #FFFFFF;
	border-radius: .375rem;
	min-width: 310px;
	min-height: 230px;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
}

.body-container > .body-dashboard{
	/* width: calc(100% - 30px); */
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.body-subtitle{
	display: flex;
	width: 100%;
	justify-content: space-between;
	font-size: 16px;
	font-weight: 550;
}

.subtitle-unit{
	font-size: 12px;
	color: #A8A8A8;
}

.home-stats{
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-stats > div{
	position: absolute;
	font-weight: 600;
	font-size: 17px;
	color: #B0B0B0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FFFFFF;
}

.home-stats > canvas{
	background-color: #FFFFFF;
}

.report-preview, .qna-preview{
	margin-top: 10px;
	width: 300px;
	max-height: 300px;
}

.home-ul{
	padding: 5px;
	font-size: 13px;
	color: #454545;
}

.home-ul > li{
	padding: 5px;
	border-radius: .375rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.home-ul > li:hover{
	background-color: #F9F9FB;
}

.home-ul > li:not(li:last-child){	
	border-bottom: 1px solid #f0f1f6;
}

.home-ul > li > a{
	color: #6A6A6A;
	font-weight: 550; 
}

.home-ul > li > span{
	font-size: 12px;
	color: #9D9D9D;
}

.home-ul > li > a > img{
	width: 5px;
	object-fit: contain;
	margin-left: 5px;
}

.report-preview > span, .qna-preview > span{
	justify-content: center;
	align-items: center;
	width: 300px;
	min-height: 150px;
	background-color: #FFFFFF;
	font-weight: 600;
	font-size: 17px;
	color: #B0B0B0;
}

.loading{	
	display: flex;
	position: absolute;
}

.preview-empty{
	display: none;
}
