@charset "UTF-8";

.deal-info-container{
	padding-top: 30px;
	padding-bottom: 100px;
}

.deal-info-container > .row > .container > .deal-info-layout > .title{
	margin-top: 50px;
	margin-bottom: 20px;
	display: flex;
}

.deal-info-container > .row > .container > .deal-info-layout > .title > span{
	font-size: 25px;
	font-weight: 700;
	margin-right: 15px;
}

.deal-info-container > .row > .container > .deal-info-layout > .title > .delivery-state{
	height: 30px;
	border: 1px solid #7988FD;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #7988FD;
	padding: 4px 3px 3px 3px;
}

.deal-info{
	padding: 30px 30px 15px 30px;
	border-radius: .375rem;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.deal-info > .info{
	width: 45%;
	min-height: 25px;
	display: flex;
	justify-content: space-between;
}

.deal-info > div{
	margin-bottom: 15px;
}

.info > .info-title{
	font-weight: 500;
	width: 80px;
	margin-right: 30px;
	color: #717171;
}

.info > .info-info{
	color: #1C1C1C;
	text-align: right;
	word-break: keep-all;
}

.info > .info-info > a{
	color: #1C1C1C;
	display: flex;
	justify-content: space-between;
	align-items: center;
	word-break: break-all;
}

.info > .info-info > a:hover{
	color: #007bff;
}

.info > .info-info img{
	height: 17px;
	object-fit: contain;
	margin-left: 3px;
	padding-bottom: 1px;
}

.alert-message{
	width: 100%;
	display: flex;
	justify-content: center;
	font-weight: 600;
	font-size: 20px;
	color: #B9B9B9;
	margin-top: 30px;
}

.deal-accept{
	width: 100%;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.deal-cancel{
	width: 100%;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: .375rem;
	padding: 10px;
	font-size: 18px;
	color: #1C1C1C;
	font-weight: 500;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
	cursor: pointer;
}

.deal-receive, .review-btn{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: .375rem;
	padding: 10px;
	font-size: 18px;
	color: #1C1C1C;
	font-weight: 500;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
	cursor: pointer;
}

.deal-accept > div{
	width: 49%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: .375rem;
	padding: 10px;
	font-size: 18px;
	color: #1C1C1C;
	font-weight: 500;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
	cursor: pointer;
}

.deal-cancel:hover, .deal-receive:hover, .review-btn:hover, .deal-accept > div:hover{
	color: #007bff;
}

.state-dropdown {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 16px;
	height: 35px;
	min-width: 50px;
	cursor: pointer;
	border-radius: .375rem;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
  	position: relative;
  	display: inline-block;
}

.score-dropdown {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 16px;
	height: 40px;
	min-width: 50px;
	cursor: pointer;
	border-radius: .375rem;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
  	position: relative;
  	display: inline-block;
}

.score-dropdown > span{
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding-right: 5px;
	padding-left: 5px;
}

.state-dropdown > span{
	width: 115px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding-right: 10px;
	padding-left: 10px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #FFFFFF;
	border-bottom-left-radius: .375rem;
	border-bottom-right-radius: .375rem;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.state-dropdown > .dropdown-content{
	min-width: 115px;
}

.score-dropdown > .dropdown-content{
	min-width: 150px;
}

.dropdown-content ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	justify-content: space-evenly;
}

.dropdown-content ul > li{
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.score-dropdown > .dropdown-content ul > li{
	padding: 0px 5px 0px 5px;
}


.dropdown-content ul > li:hover{
	background-color: #F5F5F5;;
}

.state-dropdown:hover .dropdown-content, .score-dropdown:hover .dropdown-content{
	display: block;
}

.score-selected{
	background-color: #EDF6FF;
}

.review-title{
	display: flex;
}

.review-title > span:first-child{
	font-size: 17px;
	font-weight: 500;
}

.review-textarea{
	width: 100%;
	border-radius: .375rem;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.review-textarea > textarea{
	resize: none;
	border: none;
}

.review-textarea > .current-count{
	display: flex;
	justify-content: flex-end;
}
