@charset "UTF-8";

.deal-list-container{
	padding-top: 50px;
	padding-bottom: 100px;
}

.deal-list-container > .row > .container > .title{
	margin-bottom: 40px;
}

.deal-list-container > .row > .container > .title > span{
	font-size: 30px;
	font-weight: 700;
}

.deal-list-header{
	display: flex;
}

.deal-list-header > div{
	width: 50%;
	padding: 10px;
	display: flex;
	cursor: pointer;
	justify-content: center;
	font-size: 20px;
	font-weight: bold;
	color: #B9B9B9;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #F2F2F2; 
}

.deal-list-header > .condition-selected{
	color: #1C1C1C;
	border-bottom-color: #1C1C1C;
}

.deal-list-body{
	display: flex;
	min-height: 500px;
	flex-direction: column;
}

.deal-list-body > .empty{
	display: flex;
	height: 500px;
	justify-content: center;
	font-size: 30px;
}

.deal-list-body > .empty > span{
	color: #B9B9B9;
	font-weight: 530;
	display: flex;
	align-items: center;
}

.deal-list-body > ul > li{
	display: flex;
	height: 130px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 15px;
	cursor: pointer;
}

.deal-list-body > ul > li > .deal-left{
	width: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.deal-list-body > ul > li > .deal-left > .product-img{
	width: 130px;
	height: 130px;
	object-fit: cover;
}

.deal-list-body > ul > li > .deal-left > .product-img-top{
	position: absolute;
	z-index: 1;
	width: 130px;
	height: 130px;
	object-fit: cover;
}

.deal-list-body > ul > li > .deal-right{
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 10px;
}



.deal-list-body > ul > li > .deal-right > span:first-child, .deal-list-body > ul > li > .deal-right > span:nth-child(2){
	font-weight: bold;
	font-size: 18px;
}

.deal-list-body > ul > li > .deal-right > span:nth-child(3), .deal-list-body > ul > li > .deal-right > span:last-child{
	color: #757575;
}

.deal-states{
	display: flex;
	align-items: center;
	height: 60px;
	margin-left: 20px;
	margin-right: 20px;
}

.deal-states > div{
	width: 80px;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px;
	cursor: pointer;
	border-radius: 1.38rem;
	color: #A4A4A4;
	background-color: #F2F2F2;
	margin-right: 5px;
	font-weight: bold;
}

.deal-states > .state-selected{
	background-color: #16A7F1;
	color: #FFFFFF;
}