
.login-body {
	margin: 100px 0px 100px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login-form h1 {
	font-size: 32px;
	text-align: center;
	margin-bottom: 60px;
}
.int-area {
	width: 400px; position: relative;
	margin-top: 20px;
}
.int-area:first-child {margin-top: 0;}
.int-area input {
	width: 100%;
	padding: 20px 10px 10px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #999999;
	font-size: 18px;
	outline: none;
}
.int-area label {
	position: absolute; left: 10px; top: 15px;
	font-size: 18px; 
	color: #999999;
	transition: all .5s ease;
}
.int-area label.warning {
	color: red !important;
	animation: warning .3s ease;
	animation-iteration-count:3;
}
.int-area span.warning {
	color: red !important;
	animation: warning .3s ease;
	animation-iteration-count:3;
	display: block;
}
.int-area span {
	left: 10px; top: 15px;
	font-size: 18px; 
	color: #999999;
	transition: all .5s ease;
	display: block;
}
.int-area sup {
	color : red;
}
.nice-select {
    width: 30%;
}
@keyframes warning {
	0% {transform: translateX(-8px);}
	25% {transform: translateX(8px);}
	50% {transform: translateX(-8px);}
	75% {transform: translateX(8px);}
}
.int-area input:focus + label,
.int-area input:valid + label,
.int-area input:read-only + label {
	top: 0;
	font-size: 13px; color: #166cea;
}
.int-area input[name='member_zipcode'][value=''] + label {
	left: 10px; top: 15px;
	font-size: 18px; 
	color: #999999;
	transition: all .5s ease;
}
.int-area-emailCheck input{
	width: 100%;
    padding: 20px 10px 10px;
    background-color: #ebebe4;
    border: none;
    border-bottom: 1px solid #999999;
    font-size: 18px;
    outline: none;
}
.email_check_btn {
    width: 100%;
    height: 50px;
    color: #16A7F1;
    background-color: #FFFFFF;
    font-size: 15px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 30px;
    box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
}
.int-area-addressCheck input{
	width: 70%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999999;
    font-size: 18px;
    outline: none;
}
.int-area-addressCheck label{
	position: absolute; left: 10px; top: 0px;
	font-size: 18px; 
	color: #999999;
	transition: all .5s ease;
}
.address_btn {
    width: 28%;
    height: 50px;
    color: #16A7F1;
    background-color: #FFFFFF;
    font-size: 15px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
}
.btn-area {margin-top: 30px;}
.btn-area button {
	width: 100%; height: 50px;
	background: #16A7F1;
	color: #fff;
	font-size: 20px;
	border: none;
	border-radius: 100px;
	cursor: pointer; 
	font-weight: 600;
}
.caption {
	margin-top: 20px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	padding: 0px 5px 0px 5px;
}
.caption a {
	font-size: 15px; color: #999;
	text-decoration: none;
}
#View {
    display:block;
    margin:auto;
}
/* Change the color to your own background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
	-webkit-transition: background-color 9999s ease-out;
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
	-webkit-text-fill-color: #000000 !important;
  }

#preview{
	width : 100%;
	margin: auto;
}

.profile_box{
	position: relative;
	margin:auto; 
	width: 100%;
}

#profile_img{
	display:block; 
	margin:auto; 
	width:100px; 
	height:100px; 
	border-radius: 100%;
	object-fit: cover;
	position: absolut;
}

.file__img__delete{
	width: 20px;
	object-fit: cover;
	position: absolute;
	cursor: pointer;
	display: none;
}

.detail{
	margin-top: 20px;
}

.detail > .int-area-detail{
	width: 400px; position: relative;
}
/* 
#address, #address_detail{
	display: none;
} */
