@charset "UTF-8";

.member_info{
	width: 100%;
	margin: 50px 15px 0px 15px;
	display: flex;
	padding-bottom: 50px;
}


.member_info_img{
	width: 40%;
	height:100%;
	margin-right: 50px;
	border: 0px solid #eeeeee; /* 임시 */
}


.member_info_img img{
	width: 85%;
	height: 85%;
	object-fit: contain;
	display:block; 
	margin:auto;
	margin-top: 20px; 
	border: 1px solid #999999; 
	border-radius: 50%;
}

.profile_img_div{
	width: 300px;
    height: 300px;
    margin: auto;
}

.member_info_div{
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.member_nickname{
	font-size: 25px;
	font-weight: 700;
	border-bottom: 1px solid #eeeeee;
}


.left {
    width: 50%;
    display: flex;
    align-items: center;
}


.member_detail_icon {
    width: 16px;
    margin-right: 6px;
}


#member_report{
	cursor: pointer;
    color: #FE5A5A;
    font-weight: 600;
}


.member_detail_icon img{
	object-fit: cover;
}


.member_detail{
	font-size: 14px;
	display: flex;
	flex-flow: column;
	height: 300px;
	justify-content: space-evenly;
}


.member_label::before{
	content: "·";
	font-weight: 1000;
	margin-right: 5px;
}

.member_label{
	color: #999999;
	width: 100px;
}


.member_regdate, .member_regdate, .member_id,
 .member_email, .member_hp, .member_name{
	display: flex;
}


.member_option{ 
	color: #cccccc;
	display: flex;
	height: 80px;
	padding-bottom: 50px;
	justify-content: space-between;
}

.member_option > div{
	width: 50%;
	display: flex;
	align-items: center;
}

.member_option span{
	margin-top: 3px;
}

.member_detail_icon{
	width: 16px;
	margin-right: 6px;
}

.member_detail_icon img{
	object-fit: cover;
}

.member_option > .right {
    justify-content: flex-end;
    visibility: visible;
}

.member_mypage_content {
    width: 100%;
}


.category_head{
	display: flex;
    height: 50px;
    border: 0px solid #eeeeee;
}

.head_category {
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    border: 1px solid rgb(238, 238, 238);
    background: rgb(250, 250, 250);
    color: black;
}

.member_report{ 
	color: #cccccc;
	display: flex;
	justify-content: space-between;
}

.member_report > div{
	width: 100%;
	display: flex;
	align-items: center;
}

.member_report span{
	margin-top: 3px;
}

.member_detail_icon{
	width: 16px;
	margin-right: 6px;
}

.member_detail_icon img{
	object-fit: cover;
}

.member_report > .right {
    justify-content: flex-end;
    visibility: visible;
}



