@charset "UTF-8";

.product__buy__section{
	padding: 100px 0px 100px 0px;
}

.product__buy__info {
	height: 100px;
	display: flex;
	align-items: center;
}

.product__buy__ul{
	list-style-type: none;
	padding: 0px 20px 20px 20px;
}

.product__buy__ul > li {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	padding: 0px 10px 80px 10px;
}

.product__buy__ul > li > div{
	width: 100%;
}

.product__order__address{
	padding: 20px 30px 0px 30px;
}

.product__order__report{
	padding: 20px 30px 20px 30px;
}

.product__order__info > div{
	align-items: center;
	text-align: center;
	display: flex;
	justify-content: around
}

.product__order__info > div:first-child{
	height: 35px;
	font-weight: 600;
	font-size: 15px;
}

.product__order__info > div:last-child{
	font-size: 14px;
	text-align: center;
}

.product__order__info > div:last-child > div:first-child{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.product_img_path{
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.title{
	height: 50px;
	font-size: 22px;
	font-weight: 600;
	color: #1c1c1c;
}

.info{
	color: #1c1c1c;
	font-size: 15px;
	font-weight: 500;
}

.sub_title{
	font-weight: 600;
}

.infoLink{
	cursor: pointer;
}

.order__border{
	border-radius: .375rem;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
}

.product__order__address > div{
	margin-bottom: 20px;
	width: 75%;
}

.address-title{
	padding-left: 5px;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 5px;
}

.product__order__address input[type=text]{
	height: 40px;
	border: none;
	border-radius: .375rem;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
	padding-left: 10px;
	padding-top: 3px;
}

.delivery-message{
	padding: 10px 15px 10px 15px;
}

.product__order__address textarea{
	width: 100%;
	resize: none;
	border: none;
}

.product__order__address button{
	height: 40px;
	border: none;
	color: #ffffff;
	background-color: #16A7F1;
	font-size: 13px;
	font-weight: 800;
	padding: 0px 10px 0px 10px;
	margin-left: 10px;
}

#btn_address{
	border-radius: .375rem;
	box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
}

.essential::after{
	content: "*";
	color: red;
	margin-left: 3px;
}

.buy-submit{
	font-size: 20px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 30px 12px;
	background: #16A7F1;
	border: none;
}

.product__order__report > div:first-child{
	font-weight: 700;
	color: #828282;
}

.product__order__report > div:last-child{
	font-weight: 900;
	color: #008cff;
}

.product__order__report input[type=radio]{
	vertical-align: middle;
	border: max(2px, 0.1em) solid #DCDBE4;
	appearance: none;
	border-radius: 50%;
	width: 1.25em;
	height: 1.25em;
	margin-right: 5px;
}

.product__order__report input[type=radio]:checked{
	border: 0.4em solid #16A7F1;
}

label{
	margin-bottom: 0px;
}

.product__order__report img{
	width: 50px;
	object-fit: contain;
}

.current_count{
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.current_count > p{
	color: #8E8E8E;
}