@charset "UTF-8";

.product__sell__section{
	padding: 50px 0px 100px 0px;
}

.product__sell__info{	
	height: 100px;
	display: flex;
	border-bottom: 2px solid #1c1c1c;
	align-items: center;
}

.product__sell__info span{
	margin-left: 30px;
	color: red;
}

.product__sell__ul{
	list-style-type: none;
	margin: 10px 0px 10px 0px;
}

.product__sell__ul > li{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	padding: 30px 10px 30px 10px;
}

.product__sell__ul > li:not(li:last-child){
	border-bottom: 1px solid #e3e3e3;	
}

.product__sell__title{
	font-size: 20px;
	font-weight: 400;
	color: #1c1c1c;
	width: 20%;
}

.essential::after{
	content: "*";
	color: red; 
}

.product__sell__input{
	width: 80%;
}

.product__sell__input textarea{
	width: 100%;
	resize: none;
	line-height: 1.35;
	padding-top: 15px;
}

.product__sell__submit{
	height: 100px;
	display: flex;
	border-top: 2px solid #1c1c1c;
	justify-content: end;
	align-items: center;
}

.product__sell__submit button{
	width: 150px;
	height: 50px;
	font-size: 18px;
	font-weight: 700;
}

.product__sell__input .text{
	width: 100%;
}

.product__sell__radio{
	display: flex;
	align-items: center;
}

.product__sell__input input[type=text]{
	height: 50px;
	margin-bottom: 8px;
}

.product__sell__radio input[type=radio]{
	vertical-align: middle;
	border: max(2px, 0.1em) solid #DCDBE4;
	appearance: none;
  	border-radius: 50%;
  	width: 1.25em;
  	height: 1.25em;
  	margin-right: 5px;
}

.product__sell__radio label{
	font-size: 20px;
	margin-right: 40px;
	margin-bottom: 0px;
}

.product__sell__radio span{
	vertical-align: middle;
}

.product__sell__radio input[type=radio]:checked{
	border: 0.4em solid #16A7F1;
}

.product__sell__section .input__font{
	padding-left: 15px;
	padding-right: 15px;
	font-size: 18px;
	border: 1px solid #DCDBE4;
}

.align__center{
	align-items: center;
}

.product__sell__input .price{
	width: 30%;
	margin-right: 5px;
}

.length__check{
	font-weight: 500;
}

.product__sell__ul > li > .category{
	display: flex;
	border: 1px solid #DCDBE4;
	margin-bottom: 8px;
}

.product__sell__ul #sell__category1{
	border-right: 1px solid #DCDBE4; 
}

.sell__category__ul{
	width: 50%;
	height: 300px;
	overflow: scroll;
}

.sell__category__ul ul{
	list-style-type: none;
	font-size: 20px;
}

.sell__category__ul ul li{
	height: 50px;
	padding: 12px 25px 8px 25px;
}

.sell__category__ul ul li:hover{
	background-color: #f2f2f2;
}

.selected__category__display{
	width: 100%;
	display: none;
	align-items: center;
	margin-left: 224px;
	font-size: 20px;
}


.selected__category__display > span{
	color: rgb(0, 85, 255);
	margin-right: 10px;
	font-size: 18px;
}

.selected__category{
	background-color: rgb(206, 235, 254);
	padding: 2px 8px 0px 8px;
	font-weight: 600;	
}

.category2__alert{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.category2__alert{
	font-size: 25px;
	font-weight: 500;
	color: #b5b5b5;
}

.product__input__warning{
	display: none;
	font-weight: 500;
	color: red;
	font-size: 17px;
}

.category__input__warning{
	margin-left: 224px; 
	display: flex; 
	color: red; 
	font-weight: 500; 
	width: 100%;
}

.added__tags{
	margin-left: 224px;
	display: flex;
	width: 100%;
}

.added__tags > div{
	display: flex;
	align-items: center;
	background-color: rgb(206, 235, 254);	
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 15px;
	height: 30px;
}

.added__tags > div > .tag__content{
	font-size: 18px;
	font-weight: 600;
	color: rgb(0, 85, 255);
	margin-right: 5px;
}

.added__tags > div > .tag__delete{
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.product__sell__file{
	background-image: url("/usMarket/resources/customer/img/file_icon.png");
	width: 300px;
	height: 300px;
	border: 1px solid #DCDBE4;
	margin-bottom: 8px;
}

.product__sell__file > input[type=file]{
	width: 100%;
	height: 100%;
	opacity: 0;
}

.product__img__preview{
	margin-top: 20px;
	display: flex;
}

.product__img__preview > div{
	width: 160px;
	height: 160px;
	display: flex;
	justify-content: flex-end;
}

.file__img__preview{
	width: 160px;
	object-fit: cover;
	border: 1px solid #DCDBE4;
}

.product__img__preview > div:not(div:last-child){
	margin-right: 24px;
}

.file__img__delete{
	margin-right: 8px;
	margin-top: 8px;
	width: 20px;
	object-fit: cover;
	position: absolute;
	cursor: pointer;
}