@charset "UTF-8";


#reportModal{
	overscroll-behavior: none;
}

.modal-dialog{
	top: 150px;
}

.modal-header{
	padding-left: 30px;
	background-color: #353B4C;
	border-bottom: none;
}

.modal-header > .btn-close{
	cursor: pointer;
}

.modal-header > .btn-close > img{
	height: 20px;
	object-fit: contain;
}

.modal-body{
	padding: 20px 30px 20px 30px;
}

.modal-body div{
	margin-bottom: 30px;
}

.modal-body .report-title{
	font-weight: 700;
	font-size: 16px;
}

.modal-body .report-body{
	width: 100%;
	margin-top: 10px;
}

.modal-body .report-info{
	background-color: #F4F8FB;
	padding: 15px 20px 15px 20px;
}

.modal-body > div:last-child > form > div{
	flex-wrap: wrap;
}

.report-info > p:first-child{
	color: #1C1C1C;
	font-weight: 700;
}

.report-info > p:last-child{
	color: #1C1C1C;
	margin: 0px;
}

.report-textarea{
	padding: 15px 20px 15px 20px;
	width: 100%;
	background-color: #F5F5F5;
	border: 1px solid #CFCFCF;
	margin-top: 10px;
}

.report-textarea > textarea{
	width: 100%;
	resize: none;
	border: none;
	background-color: #F5F5F5;
}

.report-body > label{
	width: 30%;
}

.report-textarea > div{
	display: flex;
	justify-content: end;
	margin: 0px;
}

.report-textarea > div > p{
	margin: 0px;
}

.disable{	
	background-color: #EEEEEE;
}

.writeable{
	background-color: #F4F8FB;
}

.modal-title{
	font-weight: 650;
	color: #FFFFFF;
}

.modal-footer{
	justify-content: center;
	border-top: none;
}

.modal-footer > div{
	height: 43px;
	width: 130px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-footer > div > p{
	font-weight: 600;
	margin: 2px 0px 0px 0px;
}

.modal-footer > div:first-child{
	border: 1px solid #DDDDDD;
	background-color: #FFFFFF;
}

.modal-footer > div:first-child > p{
	color: #1C1C1C;
}

.modal-footer > div:last-child{
	border: 1px solid #FE5A5A;
	background-color: #FE5A5A;
}

.modal-footer > div:last-child > p{
	color: #FFFFFF;
}
